*{
    margin: 0;
    padding: 0;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: #2563EB;
    color: white;
}
.header-menu{
    display: flex;
    align-items: center;
    gap:25px;
    font-weight: 600;
}
.header-icons{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header-searchIcon, .header-cartIcon{
    background-color: #6366F1;
    width: 28px;
    text-align: center;
    height: 20px;
    padding: 2px;
}

.header-signupIconbutton{
    background-color: #6366F1;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.header-signupIconbutton button{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}