* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #111827;
    /* for Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 17px;
    /* font-weight: 600; */
}

.header-icons {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.header-searchIcon,
.header-cartIcon {
    /* background-color: #facc15; */
    width: 28px;
    text-align: center;
    height: 20px;
    padding: 2px;
    border-radius: 8px;
        cursor: pointer;
}

.header-signupIconbutton {
    /* background-color: #facc15; */
    cursor: pointer;
    border-radius: 8px;
    width: 70px;
    height: 20px;
    text-align: center;
    border: 1px solid #AFB2BF;
    padding: 10px;
}

.header-signupIconbutton button {
    color: #AFB2BF;
    cursor: pointer;
    font-weight: 400;
    font-size: 19px;
    background-color: transparent;
    border: none;
}
.header-menu-item{
    cursor: pointer;
}
.header-menu-item select{
    background-color: #111827;
    color: #ffffff;
    
}